{% extends "base.html" %}

{% block content %}
<h3><p align="center">Works log</p></h3>
{% if current_user.is_authenticated %}
    <a href="jobs" class="btn btn-secondary">Add job</a>
{% endif %}
{% for item in data %}
<h3>Action # {{item["id"]}}</h3>
    <table class="table">
  <thead class="table-secondary">
    <tr>
      <th scope="col">Title of acticity</th>
      <th scope="col">Team leader</th>
      <th scope="col">Duration</th>
      <th scope="col">List of collaborators</th>
        <th scope="col">Is finished</th>
    </tr>
  </thead>
  <tbody>
    <tr class="danger">
      <th scope="row" class="table-primary">{{item["job"].capitalize()}}</th>
      <td class="table-primary">{{item["team_leader"]}}</td>
      <td class="table-primary">{{item["work_size"]}}</td>
      <td class="table-primary">{{item["collaborators"]}}</td>
      <td class="table-{{'success' if item['is_finished'] else 'danger'}}">{{'Is finished' if item["is_finished"] else 'Is not finished'}}</td>

    </tr>
  </tbody>
</table>
{% if current_user.is_authenticated and current_user.id == item["team_leader"] %}
    <div>
        <a href="/jobs/{{ item['id'] }}" class="btn btn-warning">
            Edit job
        </a>
        <a href="/jobs_delete/{{ item['id'] }}" class="btn btn-danger">
            Delete job
        </a>
    </div>
{% endif %}
{% endfor %}
{% endblock %}